html, body {
    margin: 0;
    padding: 0;
    background: transparent;
    overflow: hidden;
    
}

div {
    width: 400px;
    height: 250px;
    background-color: #172e53;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: white;
}